@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Helvetica Text Now Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Helvetica Text Now Medium';
  src: local('Helvetica Text Now Medium'), url(../public/fonts/helveticanowtext-medium.ttf) format('truetype');
}

